.goods {
    display: grid;
    grid-template-columns: 60% 15%;
}

.goodsMenuItem {
    border: 1px black solid;
    cursor: pointer;
    position: relative;
    left: 50%;
    padding: 5px 0 5px 20px;
}

.goodsMenuItem:hover {
    background: aquamarine;
}

.activeMenu {
    background-color: #0b4a2b;
    color: white;
}
