header {

}

.logo {
    border: black solid 3px;
    width: 170px;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 25px;
    top: 25px;
    padding: 10px;
    background-color: white;
}

.contacts {
    position: absolute;
    right: 20px;
    top: 25px;
    color: white;
    font-size: 18px;
}
