.app-wrapper {
    font-family: oblique;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 100px 1fr;
}

.header {
    display: block;
    background-color: #0b4a2b;
}

.app-wrapper-content-navbar {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.navbar {
    display: block;
    background-color: #3ab578;
    padding-left: 10px;
    padding-top: 20px;
}

.content {
    display: block;
    background-color: lightgoldenrodyellow;
    margin: 100px 100px 100px 100px;
    padding: 30px;
    border: solid 3px #0b4a2b;
    background-image: linear-gradient(rgba(256,256,256,.7), rgba(256,256,256,.7)), url(https://99px.ru/sstorage/53/2014/10/tmb_112361_4135.jpg);
}








